<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fooddeliveryapp">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDeliveryApp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCN_-wK1h6gkNAXbykzL7XdJXRWSdymzeI"/>
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.RegistrationActivity"/>
        <activity android:name=".view.LoginActivity"/>
        <activity android:name=".view.HomeActivity"/>
        <activity android:name=".view.MealsActivity"/>
        <activity android:name=".view.IndividualMealActivity"/>
        <activity android:name=".view.CartActivity"/>
        <activity android:name=".view.AddressActivity"/>
        <activity android:name=".view.PaymentActivity"/>
        <activity android:name=".view.OrdersActivity"/>
        <activity android:name=".view.ContactUsActivity"/>
        <activity android:name=".view.ProfileActivity"/>
        <activity android:name=".view.EditProfileActivity"/>
        <activity android:name=".view.TrackingActivity"/>
        <activity android:name=".view.FavoriteActivity"/>
        <activity android:name=".view.SupportChatActivity"/>

    </application>

</manifest>